Data/auxiliary/.ipynb_checkpoints/
Data/config/.ipynb_checkpoints/
galaxyGenius/__pycache__/
script/
GalaxyGenius.egg-info/
.github/
build/
docs/
.readthedocs.yaml
check_psf.ipynb
PSF_plots/